* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #decfdd;
}
header{
  background-color: #009fb7;
  padding: 3rem;
  line-height: 200px;
  margin-bottom: 20px;
}
header {
  background-color: #009fb7;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
header .logo{
  color: #ed217c;
  font-size:20px; 
  line-height : 110px;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav{
  float: right;
  line-height: 110px;
}
 header nav a{
  display: inline-block;
  color: #ffff;
  text-decoration: none;
  padding: 10px 10px;
  line-height: normal;
  font-size: 20px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
header #boton2{
  margin: 0 50px 0 10px;
}
header nav a:hover{
  background: #ffc847 ;
  border-radius: 50px;
} 
.seccion1 {
  border: 5px;
  column-width: 33%;
  display: inline-flex;
  font-size: 18px;
  padding: 2px;
}
.seccion2 {
  border: 5px;
  column-width: 33%;
  display: inline-flex;
  font-size: 18px;
  padding: 2px;
}
section .leer{
  margin: 0.7rem;
  background-color: #ffc847;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: #364552;
  border-radius: 15px;
}
section .ins{
  margin: 0.7rem;
  background-color: #ffc847;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: #364552;
  border-radius: 15px;
}
section .mod{
  margin: 0.7rem;
  background-color: #ffc847;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: #364552;
  border-radius: 15px;
}
section p{
  margin: 2px;
  padding: 1px;
  background-color: #decfdd;
  text-align: justify;
  opacity: 70%;
  border-radius: 15px;
}
section h2{
  color: #009fb7;
}
section article {
  transition: box-shadow 0.3s ease;
  background-color: #78bc61;
  margin: 1rem;
  border-radius: 0.7rem;
  padding: 0.25rem 0;
  cursor: pointer;
}
section img{
  display:block;
  margin:auto
}
section article:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
}
section h2 {
  text-align: center;
}
footer{
  background-color: #009fb7;
  padding: 2.5rem;
  color: #ffff;
}
footer section{ 
  float: right;
  align-items: center;
  background: none;
}
footer a{
  color: #ffff;
  text-decoration: none;
  padding: 1rem;
}
.nosotros h1{
  text-align: center;
}
.superior {
  border: 5px;
  column-width: 50%;
  display: inline-flexbox;
  font-size: 18px;
  padding: 2px;
}
.nosotros{
  text-align: center;
}