* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #decfdd;
}
header {
  color: #ed217c;
  background-color: #009fb7;
  float: inline;
  padding: 2rem;
}
header h1{
  margin: 3rem;
}
#boton1{
  position: relative;
  top: -16px;
  right: -560px;
}
#boton2{
  position: relative;
  top: -46px;
  right: -460px;
}

.seccion1 {
  border: 5px;
  column-width: 33%;
  display: inline-flex;
  font-size: 18px;
  padding: 2px;
}
.seccion2 {
  border: 5px;
  column-width: 33%;
  display: inline-flex;
  font-size: 18px;
  padding: 2px;
}
section a {
  align-items: center;
}
section .leer {
  margin: 0.7rem;
  background-color: #ffc847;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: #364552;
}
section .ins {
  margin: 0.7rem;
  background-color: #ffc847;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: #364552;
}
section .mod {
  margin: 0.7rem;
  background-color: #ffc847;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: #364552;
}
section p {
  margin: 2px;
  padding: 1px;
  background-color: #decfdd;
  text-align: justify;
}
section h2 {
  color: #009fb7;
}
section article {
  transition: box-shadow 0.3s ease;
  background-color: #78bc61;
  margin: 1rem;
  border-radius: 0.7rem;
  padding: 0.25rem 0;
  cursor: pointer;
}
section img {
  display: block;
  margin: auto;
}
section article:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
}
section h2 {
  text-align: center;
}
footer {
  background-color: #009fb7;
}
/* footer p {
  float: inline;
} */
